.joke-history {
  margin-top: 20px;
}

.joke-history h2 {
  font-size: 1.5em;
}

.joke-history ul {
  list-style-type: none;
  padding: 0;
}

.joke-history li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0;
  border-bottom: 1px solid #ddd;
  border: 2px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
}

.delete-button {
  background-color: #e74c3c;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 8px 15px;
  text-align: center;
  font-size: 15px;
  margin: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: auto;
}